@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}






@if (User?.Identity?.IsAuthenticated ?? false)
{
    <div style="position:absolute; left: 40%;top: 30%">
        <div id="div1">
            <input class="input-group-lg" type="text" id="movieName" placeholder="Movie Name" name="keyword" />
            <input type="hidden" id="Id" name="Id" />
        </div>
    </div>
}
