@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}






@if (User?.Identity?.IsAuthenticated ?? false)
{




    <div class="input-group col-lg-12 mt-lg-1">
        <input type="search" id="movieName" class="form-control rounded" placeholder="Movie Name" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>

    <input type="hidden" id="id" name="Id" />


}
